In [1]:
# import packages
import pandas as pd
import numpy as np

In [2]:
# import dataset, convert to readable data frame
data = pd.read_csv('data.csv')
response = data['Q1A\tQ1I\tQ1E\tQ2A\tQ2I\tQ2E\tQ3A\tQ3I\tQ3E\tQ4A\tQ4I\tQ4E\tQ5A\tQ5I\tQ5E\tQ6A\tQ6I\tQ6E\tQ7A\tQ7I\tQ7E\tQ8A\tQ8I\tQ8E\tQ9A\tQ9I\tQ9E\tQ10A\tQ10I\tQ10E\tQ11A\tQ11I\tQ11E\tQ12A\tQ12I\tQ12E\tQ13A\tQ13I\tQ13E\tQ14A\tQ14I\tQ14E\tQ15A\tQ15I\tQ15E\tQ16A\tQ16I\tQ16E\tQ17A\tQ17I\tQ17E\tQ18A\tQ18I\tQ18E\tQ19A\tQ19I\tQ19E\tQ20A\tQ20I\tQ20E\tQ21A\tQ21I\tQ21E\tQ22A\tQ22I\tQ22E\tQ23A\tQ23I\tQ23E\tQ24A\tQ24I\tQ24E\tQ25A\tQ25I\tQ25E\tQ26A\tQ26I\tQ26E\tQ27A\tQ27I\tQ27E\tQ28A\tQ28I\tQ28E\tQ29A\tQ29I\tQ29E\tQ30A\tQ30I\tQ30E\tQ31A\tQ31I\tQ31E\tQ32A\tQ32I\tQ32E\tQ33A\tQ33I\tQ33E\tQ34A\tQ34I\tQ34E\tQ35A\tQ35I\tQ35E\tQ36A\tQ36I\tQ36E\tQ37A\tQ37I\tQ37E\tQ38A\tQ38I\tQ38E\tQ39A\tQ39I\tQ39E\tQ40A\tQ40I\tQ40E\tQ41A\tQ41I\tQ41E\tQ42A\tQ42I\tQ42E\tQ43A\tQ43I\tQ43E\tQ44A\tQ44I\tQ44E\tQ45A\tQ45I\tQ45E\tQ46A\tQ46I\tQ46E\tQ47A\tQ47I\tQ47E\tQ48A\tQ48I\tQ48E\tQ49A\tQ49I\tQ49E\tQ50A\tQ50I\tQ50E\tQ51A\tQ51I\tQ51E\tQ52A\tQ52I\tQ52E\tQ53A\tQ53I\tQ53E\tQ54A\tQ54I\tQ54E\tQ55A\tQ55I\tQ55E\tQ56A\tQ56I\tQ56E\tQ57A\tQ57I\tQ57E\tQ58A\tQ58I\tQ58E\tQ59A\tQ59I\tQ59E\tQ60A\tQ60I\tQ60E\tQ61A\tQ61I\tQ61E\tQ62A\tQ62I\tQ62E\tQ63A\tQ63I\tQ63E\tQ64A\tQ64I\tQ64E\tQ65A\tQ65I\tQ65E\tQ66A\tQ66I\tQ66E\tQ67A\tQ67I\tQ67E\tQ68A\tQ68I\tQ68E\tQ69A\tQ69I\tQ69E\tQ70A\tQ70I\tQ70E\tQ71A\tQ71I\tQ71E\tQ72A\tQ72I\tQ72E\tQ73A\tQ73I\tQ73E\tQ74A\tQ74I\tQ74E\tQ75A\tQ75I\tQ75E\tQ76A\tQ76I\tQ76E\tQ77A\tQ77I\tQ77E\tQ78A\tQ78I\tQ78E\tQ79A\tQ79I\tQ79E\tQ80A\tQ80I\tQ80E\tQ81A\tQ81I\tQ81E\tQ82A\tQ82I\tQ82E\tQ83A\tQ83I\tQ83E\tQ84A\tQ84I\tQ84E\tQ85A\tQ85I\tQ85E\tQ86A\tQ86I\tQ86E\tQ87A\tQ87I\tQ87E\tQ88A\tQ88I\tQ88E\tQ89A\tQ89I\tQ89E\tQ90A\tQ90I\tQ90E\tQ91A\tQ91I\tQ91E\tcountry\tdateload\tintroelapse\ttestelapse\tsurveyelapse\tgender\tengnat\tage\tIE'].str.split('\t')


df = pd.DataFrame(columns=[i for i in data.columns.str.split('\t')[0]],index=np.arange(len(data)))
for i in np.arange(len(df)):
    df.values[i] = response[i]

In [3]:
df

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,Q91E,country,dateload,introelapse,testelapse,surveyelapse,gender,engnat,age,IE
0,5,51,7107,3,91,2522,1,56,6180,2,...,4609,US,2019-02-20 17:35:52,1,461,16,2,1,23,3
1,5,39,6354,5,13,3092,1,12,5243,5,...,10409,AU,2019-02-20 17:46:32,21,467,15,1,2,25,2
2,3,17,5397,4,35,2747,5,40,5262,3,...,2691,BR,2019-02-20 18:10:24,56,306,17,1,2,19,1
3,5,41,3055,2,14,3348,1,13,5141,1,...,3697,CZ,2019-02-20 18:16:21,2,287,14,1,1,23,1
4,1,76,2542,2,54,1878,1,15,5637,1,...,1662,CA,2019-02-20 18:21:49,2,325,12,1,1,18,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7183,1,46,1328,4,82,3214,4,43,3360,5,...,3495,US,2019-08-19 12:54:22,8,299,14,2,1,53,1
7184,2,5,8786,5,24,2233,5,10,10387,5,...,6088,CA,2019-08-19 13:10:30,25,498,20,1,1,20,1
7185,3,29,6618,5,44,2393,4,58,5768,5,...,3425,BY,2019-08-19 13:29:47,3,326,17,2,2,28,1
7186,4,15,8321,2,18,6179,5,60,5037,1,...,17416,CA,2019-08-19 15:19:35,3,414,23,2,1,19,1
7187,5,57,2950,2,66,2232,4,24,7095,4,...,1901,US,2019-08-19 15:38:29,367,336,16,2,1,25,1